body{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  background-color: #333;
}

section,footer{
  background-color: #F00;
  padding: 16px 16px 32px;
  background-color: #fff;
}

p,h1,h2,h3,h4,h5,h6,img,div,ul,hr{
  max-width:540px;
  margin: 14px auto;
  display: block;
}

.expanded{
  max-width:640px;
  margin: 0 auto;
}

.lead{
  font-size: 150%;
}

.h1-featured{
  display: block;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
  background-color: #333;
  color: #fff;
  text-align: center;
}

h1{
  text-align: center;
  font-weight: normal;
  color: #fff;
  line-height: 200%;
  max-width: 640px;
  background-color: #333;
  margin-bottom: 0;
}

h2,h3{
  margin-top: 1rem;
  font-weight: normal;
}

a, a:visited{
  color: #960;
}
a:active, a:hover{
  color: #fa0 !important;
}

.btn{
  display: inline-block;
  border: 1px solid currentColor;
  padding: 8px;
  margin: 4px;
  text-decoration: none;
}
.btn:hover, .btn:active{
  background-color: #333;
}
.btn-small{
  padding: 2px 8px;
}
.nav-link{
  max-width: 640px;
  text-decoration: none;
}
.nav-link a{
  text-decoration: none;
}

.page-header{
  background-color: #333;
  color: #eee;
  margin: 0 auto;
  padding: 8px 0;
  max-width: 720px;
  height: 32px;
}

.page-header-logo{
  display: block;
  float: left;
  height: 18px;
  background-image: url("../img/icon_64.png");
  background-size: 32px;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: bold;
  line-height: 1em;
  padding: 7px 0 7px 40px;
  text-decoration: none;
  color: #fff;
}

nav ul{
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}

.page-header a{
  color: #fff;
}

nav ul li{
  display: inline-block;
  font-size: 14px;
  line-height: 1em;
  padding: 9px 8px 9px 8px;
}

nav ul li a{
  text-decoration: none;
}

nav .active{
  border-bottom: 2px solid #fa0;
  font-weight: bold;
}

footer{
  background: none;
  color: #ccc;
  font-size: 12px;
  padding: 4px 16px;
}
footer a, footer a:visited{
  color: #fff;
}

.links{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.links dt{
  font-weight: bold;
}

.toc ul li{
  line-height: 200%;
}

@media (min-width: 1024px){
  .toc{
    background-color: #eee;
    padding: 8px;
    width: 160px;
  }
  .toc a{
    text-decoration: none;
  }
  .toc h2{
    margin: 0;
  }
  .toc ul{
    list-style-type: none;
    padding: 0;
  }
  .toc{
    position: fixed;
    top: 128px;
    left: 8px;
  }
}

@media (max-width: 719px){
  .page-header{
    height: auto;
    text-align: center;
  }
  .page-header-logo{
    float: none;
    display: inline-block;
  }

  nav ul{
    float: none;
    display: block;
  }
}